---
networks:
  proxy:
    external: true
services:
  app:
    container_name: portainer
    image: portainer/portainer-ce:2.32.0
    volumes:
      - "{{ containers_portainer_dir }}/data:/data"
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
      - "traefik.http.services.portainer.loadbalancer.server.scheme=http"
      - "traefik.http.routers.portainer-http.entrypoints=web"
      - "traefik.http.routers.portainer-https.entrypoints=websecure"
      - "traefik.http.routers.portainer-https.tls=true"
