---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  ts-beszel-hub:
    image: tailscale/tailscale::v1.78.3
    container_name: ts-beszel-hub
    hostname: beszel
    environment:
      - TS_AUTHKEY={{ beszel_hub_tailscale_oauth_token }}
      - TS_EXTRA_ARGS=--advertise-tags=tag:beszel
      - TS_SERVE_CONFIG=/config/beszel-hub.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=true
    volumes:
      - ${PWD}/beszel-hub/tailscale/state:/var/lib/tailscale
      - ${PWD}/beszel-hub/tailscale/config:/config
    ports:
      - 8090:8090
    restart: unless-stopped
  beszel:
    image: henrygd/beszel:0.9.1
    container_name: beszel-hub
    network_mode: service:ts-beszel-hub
    depends_on:
      - ts-beszel-hub
    volumes:
      - ${PWD}/beszel-hub/beszel_data:/beszel_data
    restart: unless-stopped