---
extends: default

rules:
  new-lines: disable
  line-length:
    max: 300
    level: warning
  comments:
    min-spaces-from-content: 0
    require-starting-space: false
  comments-indentation: disable
  braces:
    max-spaces-inside: 2

ignore: |
  /kubernetes/
  /kubernetes/main/flux-system/gotk-components.yaml
  /kubernetes/test/flux-system/gotk-components.yaml
  .devbox/*
  /kubernetes/main/bootstrap/talos/clusterconfig
  /kubernetes/test/bootstrap/talos/clusterconfig
  /.taskfiles/talos/Taskfile.yaml
  /.venv
  /kubernetes/kubespray
