---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  guacamole:
    image: flcontainers/guacamole:1.6.0
    container_name: guacamole
    volumes:
      - "{{ containers_guacamole_dir }}:/config"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      TZ: "America/Toronto"
      EXTENSIONS: "{{ containers_guacamole_extensions }}"
      GUACD_LOG_LEVEL: "debug"

    restart: always
    networks:
      proxy:
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.guacamole.loadbalancer.server.port=8080"
      - "traefik.http.services.guacamole.loadbalancer.server.scheme=http"
      - "traefik.http.routers.guacamole-http.rule=HostRegexp(`^access\\..+`) || HostRegexp(`^guacamole\\..+`)"
      - "traefik.http.routers.guacamole-https.rule=HostRegexp(`^access\\..+`) || HostRegexp(`^guacamole\\..+`)"
      - "traefik.http.routers.guacamole-http.entrypoints=web"
      - "traefik.http.routers.guacamole-https.entrypoints=websecure"
      - "traefik.http.routers.guacamole-https.tls=true"
networks:
  proxy:
    external: true