---
version: "3"
networks:
  shared:
    external: true
services:
  nut-server:
    container_name: nut-server
    image: instantlinux/nut-upsd:latest
    ports:
      - "3493:3493"
    restart: always
    environment:
      - NAME=CP
      - VENDORID=0764
      - SERIAL=CXXMU2001429
      - API_USER=admin
      - API_PASSWORD=secret
      - POLLINTERVAL=15
    devices:
      - "/dev/bus/usb/002/002:/dev/bus/usb/002/002"
    networks:
      - shared
  nut-cgi:
    container_name: nut
    image: galbitz/nut:latest
    restart: always
    environment:
      - NAME=CP
      - HOST=192.168.1.17
    networks:
      - shared
    healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost/cgi-bin/nut/upsstats.cgi"]
          interval: 200s
          timeout: 200s
          retries: 5
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=shared"
      - "traefik.http.routers.nut-http.entrypoints=web"
      - "traefik.http.routers.nut-https.entrypoints=websecure"
      - "traefik.http.routers.nut-https.tls=true"
