---
tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: "production"
        domain:
          main: "*.{{ traefik_main_domain }}"
          sans:
            - "{{ traefik_main_domain }}"

