---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: Check pre req
  ansible.builtin.assert:
    that:
      - containers_uptime_kuma_docker_root_dir | length > 0
    fail_msg: "variable is missing. Define it in global vars"

- name: Make sure that the docker folders exist
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    state: directory
    mode: 0777
  become: true
  loop:
    - "{{ containers_uptime_kuma_dir }}"
    - "{{ containers_uptime_kuma_dir }}/data "

- name: Copy config files
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: u+rwx,g+rwx,o+rxw
    force: true
  loop:
    - src: "compose.yaml.j2"
      dest: "{{ containers_uptime_kuma_dir }}/compose.yaml"
  become: true

- name: Deploy docker compose stack
  community.docker.docker_compose_v2:
    project_src: "{{ containers_uptime_kuma_dir }}"
  become: true
