--- 
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
    qbittorrent:
        image: lscr.io/linuxserver/qbittorrent:5.1.4-r2-ls440
        container_name: qbittorrent
        environment:
        - PUID=1000
        - PGID=1000
        - TZ=America/Toronto
        - WEBUI_PORT=8085
        volumes:
        - "{{ containers_qbittorrent_dir }}/config:/config"
        - "{{ containers_qbittorrent_file_path }}/downloads:/downloads"
        ports:
        - "6881:6881"
        - "6881:6881/udp"
        - "8085:8085"
        restart: always
