---
http:
  services:
    uptime:
      loadbalancer:
        servers:
          - url: http://192.168.1.18:3001/
  middlewares:
    authelia:
      forwardAuth:
        address: "http://authelia:9091/api/verify?rd=https://auth.{{ containers_traefik_secondary_domain }}"
  routers:
    uptime:
      rule: Host(`uptime.{{ containers_traefik_main_domain }}`) || Host(`uptime.{{ containers_traefik_secondary_domain }}`)
      service: uptime
      entrypoints: web
    uptime-ssl:
      rule: Host(`uptime.{{ containers_traefik_main_domain }}`) || Host(`uptime.{{ containers_traefik_secondary_domain }}`)
      service: uptime
      entrypoints: websecure
      tls:
        certResolver: production
