---
# yaml-language-server: $schema=https://json.schemastore.org/traefik-v3.json
global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO
#  format: common
#  filePath: /var/log/traefik/traefik.log

# accesslog:
#   format: common
#   filePath: /var/log/traefik/access.log

api:
  dashboard: "{{ containers_traefik_api | default(true) }}"
  insecure: "{{ containers_traefik_dashboard | default(true) }}"

entryPoints:
  web:
    address: :80
    # -- (Optional) Redirect all HTTP to HTTPS
    # http:
    #   redirections:
    #     entryPoint:
    #       to: websecure
    #       scheme: https
  websecure:
    address: :443

certificatesResolvers:
  #  staging:
  #    acme:
  #      email: {{ homelab_email }}
  #      storage: /etc/traefik/acme.json
  #      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
  #      dnsChallenge:
  #        provider: cloudflare
  #        resolvers:
  #          - "1.1.1.1:53"
  #          - "8.8.8.8:53"
  production:
    acme:
      email: "{{ homelab_email }}"
      storage: /etc/traefik/acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

# -- (Optional) Disable TLS Cert verification check
serversTransport:
  insecureSkipVerify: true

# -- (Optional) Overwrite Default Certificates
# tls:
#   stores:
#     default:
#       defaultGeneratedCert:
#         resolver: production
#         domain:
#           main: "*.{{ containers_traefik_main_domain }}"
#           # sans:
#           #   - foo.example.org
#           #   - bar.example.org
# -- (Optional) Disable TLS version 1.0 and 1.1
#   options:
#     default:
#       minVersion: VersionTLS12

providers:
  docker:
    # -- (Optional) Enable this, if you want to expose all containers automatically
    exposedByDefault: false
    defaultRule: 'HostRegexp(`^{{ "{{" }} .ContainerName {{ "}}" }}\..+`)'
  file:
    directory: /etc/traefik/extra
    watch: true

tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: "production"
        domain:
          main: "*.{{ containers_traefik_main_domain }}"
          {% if containers_traefik_tunnel_domain | length > 0 %}
sans:
            - "*.{{ containers_traefik_tunnel_domain }}"
          {% endif %}
