---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
- name: Check pre req
  ansible.builtin.assert:
    that:
      - containers_cloudflare_dns_docker_root_dir | length > 0
      - cloudflare_zone_id is defined
      - cloudflare_home_record_id is defined
      - cloudflare_email is defined
      - cloudflare_api_token is defined
      - cloudflare_home_record_id is defined
      - cloudflare_home_record_content is defined
    fail_msg: "variable is missing. Define it in global vars"

- name: Make sure that the docker folders exist
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    state: directory
    mode: u+rwx,g+rwx,o+rxw
  become: true
  loop:
    - "{{ containers_cloudflare_dns_dir }}"

- name: Copy dns update script
  ansible.builtin.template:
    src: cloudflare-dns-update.j2
    dest: "{{ containers_cloudflare_dns_dir }}/cloudflare-dns-update.sh"
    mode: a+x
- name: Set up container to run cron
  community.docker.docker_container:
    name: cloudflare-dns
    image: alpine:3.23.2
    pull: true
    state: started
    restart_policy: always
    command: "crond -f -l 8"
    volumes: "{{ containers_cloudflare_dns_dir }}/cloudflare-dns-update.sh:/etc/periodic/daily/cloudflare-dns-update.sh"
