home-kubernetes-temp1.yaml
home-kubernetes-temp2.yaml
home-kubernetes-temp3.yaml
talosconfig
home-kubernetes-t1.yaml
home-kubernetes-t2.yaml
home-kubernetes-t3.yaml
home-kubernetes-test-t1-test.yaml
home-kubernetes-test-t2-test.yaml
home-kubernetes-test-t3-test.yaml
