---
- name: Add repo using key from URL
  ansible.builtin.deb822_repository:
    name: signal
    types: deb
    uris: https://updates.signal.org/desktop/apt
    suites: xenial
    components: main
    architectures: amd64
    signed_by: https://updates.signal.org/desktop/apt/keys.asc
  become: true

- name: Update apt package cache
  ansible.builtin.apt:
    update_cache: true
  when: ansible_facts['distribution']  == 'Ubuntu' or ansible_facts['distribution']  == 'Debian'
  become: true

- name: Signal
  ansible.builtin.apt:
    name:
      - signal-desktop
    state: present
  when: ansible_facts['distribution']  == 'Ubuntu' or ansible_facts['distribution']  == 'Debian'
  become: true
