---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
networks:
  shared:
    external: true
services:
  traefik:
    image: traefik:v3.2.3
    container_name: traefik
    ports:
      - 80:80
      - 443:443
      - 8180:8080
    volumes:
      - ./config:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - shared
    environment:
      - CF_DNS_API_TOKEN={{ cloudflare_traefik_dns_token }}
      - CLOUDFLARE_PROPAGATION_TIMEOUT=600
      - CLOUDFLARE_TTL=Auto
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=shared"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
      - "traefik.http.services.traefik.loadbalancer.server.scheme=http"
      - "traefik.http.routers.traefik-http.entrypoints=web"
      - "traefik.http.routers.traefik-https.entrypoints=websecure"
      - "traefik.http.routers.traefik-https.tls=true"