#!/bin/bash
export MYIP=`curl -sS https://ifconfig.co`
curl -X PUT "https://api.cloudflare.com/client/v4/zones/{{ zone_id }}/dns_records/{{ record_id }}" \
     -H "Authorization: Bearer {{ api_token }}" \
     -H "Content-Type:application/json" \
     --data '{ "name" : "{{ hostname }}", "content": "'"$MYIP"'", "type": "A" }'
