---
version: "3"
networks:
  shared:
    external: true
services:
  traefik:
    image: traefik:latest
    container_name: traefik
    ports:
      - 80:80
      - 443:443
      - 8180:8080
    volumes:
      - ./config:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CF_DNS_API_TOKEN={{ cloudflare_api_token }}
    networks:
      - shared
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=shared"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
      - "traefik.http.services.traefik.loadbalancer.server.scheme=http"
      - "traefik.http.routers.traefik-http.entrypoints=web"
      - "traefik.http.routers.traefik-https.entrypoints=websecure"
      - "traefik.http.routers.traefik-https.tls=true"
#  whoami:
#    image: traefik/whoami
#    container_name: whoami
#    restart: always
#    labels:
#      - "traefik.enable=true"
#      - "traefik.docker.network=shared"
#      - "traefik.http.routers.whoami-http.entrypoints=web"
#      - "traefik.http.routers.whoami-http.priority=1"
#      - "traefik.http.routers.whoami-http.rule=HostRegexp(`{host:.+}`)"
#      - "traefik.http.routers.whoami-https.tls=true"
#      - "traefik.http.routers.whoami-https.entrypoints=websecure"
#      - "traefik.http.routers.whoami-https.priority=1"
#      - "traefik.http.routers.whoami-https.rule=HostRegexp(`{host:.+}`)"
#    networks:
#      - shared
