---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  guacamole:
    image: flcontainers/guacamole:1.5.5
    container_name: guacamole
    volumes:
      - "{{ guacamole_dir }}:/config"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      TZ: "America/Toronto"
      EXTENSIONS: auth-totp
      GUACD_LOG_LEVEL: "info"

    restart: always
    networks:
      shared:
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=shared"
      - "traefik.http.services.guacamole.loadbalancer.server.port=8080"
      - "traefik.http.services.guacamole.loadbalancer.server.scheme=http"
      # - "traefik.http.routers.guacamole-http.entrypoints=web"
      - "traefik.http.routers.guacamole-https.entrypoints=websecure"
      - "traefik.http.routers.guacamole-https.tls=true"
networks:
  shared:
    external: true
