serverAddr = "{{ lookup('ansible.builtin.env', 'CLOUDFLARE_WORMHOLE_HOSTNAME') }}"
serverPort = 7000
auth.token = "{{ lookup('ansible.builtin.env', 'FRP_AUTH_TOKEN') }}"
log.level = "info"

[[proxies]]
name = "docker-server"
type = "https"
localIP = "192.168.1.17"
localPort = 443
customDomains = ["auth.tunnel.04a.ca","access.tunnel.04a.ca","silverbullet.tunnel.04a.ca","notes.tunnel.04a.ca"]
