---
- name: Test new role structure
  hosts: debian-test
  gather_facts: true
  vars:
    docker_dir: "/opt/docker"
  roles:
    - role: linux-auth
    - role: autoupdate
      vars:
        autoupdate_notification_email: "{{ homelab_email }}"
    - role: containers/docker-base
