---
# oracle - wormhole
- name: Configure wormhole
  hosts: wormhole
  vars:
    ansible_user: gabor
    zone_id: "{{ cloudflare_wormhole_zone_id }}"
    record_id: "{{ cloudflare_wormhole_record_id }}"
    api_token: "{{ cloudflare_wormhole_api_token }}"
    hostname: "{{ cloudflare_wormhole_hostname }}"
    docker_dir: /opt/docker
  tasks:
    - name: Ensure cron dir for cloudflare exists
      ansible.builtin.file:
        path: "/opt/cron/cloudflare"
        owner: root
        group: root
        state: directory
        mode: u+rw-x,g+r-wx-x,o-rwx
      become: true
    - name: Copy dns update script
      ansible.builtin.template:
        src: update_cloudflare_zone.j2
        dest: /opt/cron/cloudflare/update_cloudflare_zone.sh
        mode: u+x
      become: true
    - name: Create cron for Cloudflare dns update
      ansible.builtin.cron:
        name: "update cloudflare dns record"
        special_time: daily
        job: /opt/cron/cloudflare/update_cloudflare_zone.sh
        user: root
      become: true
  roles:
    - star4.essentials.timezone
    - star4.essentials.autoupdate
    - star4.essentials.hardening
    - star4.essentials.forwardmta
    - role: containers/pangolin_server
    - role: containers/notes_storage
    - role: containers/syncthing
      vars:
        containers_syncthing_enable_traefik: false # noqa: var-naming[no-role-prefix]
        containers_syncthing_docker_network: "pangolin" # noqa: var-naming[no-role-prefix]
    - role: containers/silverbullet
      vars:
        containers_silverbullet_enable_traefik: false # noqa: var-naming[no-role-prefix]
        containers_silverbullet_docker_network: "pangolin" # noqa: var-naming[no-role-prefix]
