---
# thin - simple jumpbox with debian
- name: Configure thin
  hosts: thin
  gather_facts: true
  vars:
    docker_dir: /opt/docker
  roles:
    - role: linux-generic
    - role: autoupdate
      vars:
        autoupdate_notification_email: "{{ homelab_email }}"
    #    - role: frp
    #      vars:
    #        frp_type: "client"
    #        frp_version: "0.62.1"
    - role: mta
    # - role: nut_server
    - role: containers/nut-master
