---
# thin - simple jumpbox with debian
- name: Configure thin
  hosts: thin
  gather_facts: true
  vars:
    docker_dir: /opt/docker
  roles:
    - role: linux-generic
    - role: autoupdate
      vars:
        autoupdate_notification_email: "{{ homelab_email }}"
    #    - role: frp
    #      vars:
    #        frp_type: "client"
    #        frp_version: "0.62.1"
    - role: mta
    # - role: nut_server
    - role: containers/nut-master
    - role: alloy
      vars:
        alloy_my_config: "{{ lookup('template', 'alloy/lokionly.config.alloy.j2') }}"
      tags: ["alloy"]
      become: true
    - role: containers/tailscale
    - role: containers/newt
      vars:
        containers_newt_id: "{{ lookup('ansible.builtin.env', 'PANGOLIN_NEWT_ID_THIN') }}" # noqa: var-naming[no-role-prefix]
        containers_newt_secret: "{{ lookup  ('ansible.builtin.env', 'PANGOLIN_NEWT_SECRET_THIN') }}" # noqa: var-naming[no-role-prefix]
      tags: ["newt"]
