---
- name: Required packages
  ansible.builtin.package:
    name: cifs-utils
    state: present
  become: true

- name: Create local paths
  ansible.builtin.file:
    path: "{{ item.local_path }}"
    owner: root
    group: root
    state: directory
    mode: u+rw,g+rw,o+rw
  loop: "{{ network_mounts_mounts }}"
  become: true

- name: Mount network shares
  ansible.posix.mount:
    src: "{{ item.network_path }}"
    path: "{{ item.local_path }}"
    fstype: cifs
    opts: "username={{ item.username }},password={{ item.password }},file_mode={{ item.file_mode }},dir_mode={{ item.dir_mode }}"
    state: mounted
  become: true
  loop: "{{ network_mounts_mounts }}"
