---
name: Base
"on":
  pull_request:
  push:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v5

      - name: Install devbox
        uses: jetpack-io/devbox-install-action@v0.14.0
        with:
          enable-cache: true
          devbox-version: 0.14.2

      - name: Install playbook requirements
        run: devbox run task ansible:install-requirements

      - name: Lint
        run: devbox run task ansible:lint
