---
name: Deploy playbook
"on":
  workflow_dispatch:
    inputs:
      playbook:
        description: "Playbook to run"
        required: true
        default: "thin.yml"
        type: string

jobs:
  build-infrastructure:
    runs-on: ubuntu-latest
    env:
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          cache: true

      #      - run: task tf:init
      #      - run: task tf:generate-inventory

      - name: Connect Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:github-ci

      - run: task ansible:install-requirements
      - run: task ansible:run -- ${{ inputs.playbook }}
