---
name: Lint
"on":
  push:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          cache: true

      - name: Install playbook requirements
        run: task ansible:install-requirements

      - name: Lint
        run: task ansible:lint
