---
name: Lint
"on":
  push:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          cache: true
          mise_toml: |
            [settings]
            sops.strict = false

      - name: Install playbook requirements
        run: mise run ansible:install-requirements

      - name: Lint
        run: mise run ansible:lint
