---
name: Self-hosted Cloudflare hosts
"on":
  workflow_dispatch:

jobs:
  update-cloudflare-hosts:
    runs-on: self-hosted
    env:
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Install devbox
        uses: jetpack-io/devbox-install-action@v0.13.0
        with:
          enable-cache: true

      - run: devbox run task tf:init
      - run: devbox run task tf:plan
      - run: devbox run -- task tf:apply -- -target=module.hostrecords
