---
name: Self-hosted deployment
"on":
  workflow_dispatch:

jobs:
  build-infrastructure:
    runs-on: self-hosted
    env:
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Install devbox
        uses: jetpack-io/devbox-install-action@v0.14.0
        with:
          enable-cache: true

      - run: devbox run task tf:init
      - run: devbox run task tf:generate-inventory

      - run: devbox run task ansible:install-requirements
      - run: devbox run -- task ansible:run -- docker-server.yml
